<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Country</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <table class="table">
        <thead>
        <td>Country</td>
        <td>Surface Area</td>
        <td>Population</td>
        </thead>
        <tbody>
        <tr th:each="country:${countries}">
            <td>
                <a th:href="@{/world/country(code=${country.code})}"
                   th:text="${country.name}"></a>
            </td>
            <td th:text="${country.surfaceArea}"></td>
            <td th:text="${country.population}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>